/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset */









.head-bar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: rgba(88, 101, 113, .8);
    height: 40px;
}
.head-bar > p {
    margin-left: 20px;
    color: whitesmoke;
}

.head-bar > .buttons {
    padding-right: 20px;
}

.buttons > button {
    border-radius: 2px;
    appearance: none;
    border: none;
    max-width: 100px;
    width: 12vw;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color:rgb(229, 238, 247);
    color: rgb(88, 101, 113);
}
.buttons > button:hover{
    cursor: pointer;
    background-color:rgba(155, 187, 218, 0.7);
    color: white;
}

body {
    margin: 0;
}

.app {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.app > .controls {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30vw;
    border: solid 1px black;
    border-radius: 3px;
    padding: 5px;
    background-color: rgb(119, 119, 119);
}
.size-control {
    display: flex;
    flex-direction: row;
}
.speed-control {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}
#array-gen{
    margin-top: 20px;
    align-self: center;
    width: 170px;
}

svg {
    background-color: #eeeeee;
}
