/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset */








.bar-background {
    height: 60px;
    background: rgba(88, 101, 113, .8);
    display: flex;
    justify-content: center;
}
.head-bar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    max-width: 900px;
}
.head-bar > p {
    margin-left: 30px;
    color: whitesmoke;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.app {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    width: 1200px;
    align-self: center;
    justify-content: space-around;
}
.app > .controls {
    display: flex;
    flex-direction: column;
    height: 294px;
    width: 25%;
    border: none;
    border-radius: 3px;
    padding: 5px;
    background-color: rgb(181, 181, 181);
    color: #6f6f6f;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 12px;
    text-shadow: 0px 1px 0px rgba(255,255,255,.5); /* 50% white from bottom */
}
.size-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #6f6f6f;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 12px;
}
.speed-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #6f6f6f;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 12px;
}
#array-gen{
    align-self: center;
    width: 140px;
}
.svgs {
    max-width: 800px;
    background: linear-gradient(to bottom, #ffffff, #afabab85, #ffffff);
}

#array-length {
    margin-left: 5px;
    -webkit-appearance: none;
    width: 30%;
    max-width: 70px;
    height: 3px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
#array-length::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%; 
    background: white;
    cursor: pointer;
}
ul {
    padding-top: 10px;
}
li {
    display: flex;
    justify-content: space-between;
}